<!-- addFortUserModal  -->
<div class="modal fade" id="addFortUserModal-{{ fort_server.id }}" tabindex="-1"
     role="dialog"
     aria-labelledby="addFortUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="addFortUserModalLabel">
                    用户信息
                </h4>
            </div>
            <div class="modal-body">
                <form class="main form-horizontal" id="add_user">
                    <fieldset>
                        <div class="form-group" style="display: none;">
                            <label for="fort_server"></label>
                            <input type="text" class="form-control" name="fort_server"
                                   id="fort_server" value="{{ fort_server.id }}" readonly/>
                        </div>

                        <div class="form-group">
                            <label for="fort_username">用户名称</label>
                            <input type="text" class="form-control" name="fort_username"
                                   id="fort_username" required/>
                        </div>

                        <div class="form-group">
                            <label for="fort_user_status">用户状态</label>
                            <select class="form-control select2" id="fort_user_status"
                                    name="fort_user_status"
                                    style="width: 100%;">
                                {% for user_status in fort_user_status %}
                                    <option value="{{ user_status.0 }}">{{ user_status.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="fort_auth_type">认证方式</label>
                            <select class="form-control select2" id="fort_auth_type"
                                    name="fort_auth_type"
                                    style="width: 100%;"
                                    onchange="authType()">
                                {% for auth_type in auth_types %}
                                    <option value="{{ auth_type.0 }}">{{ auth_type.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group fort_password">
                            <label for="fort_password">用户密码</label>
                            <input type="password" class="form-control" name="fort_password"
                                   id="fort_password" required/>
                        </div>

                        <div class="form-group fort_key_file" hidden>
                            <label for="fort_key_file">私钥内容</label>
                            <textarea class="form-control" id="fort_key_file"
                                      name="fort_key_file"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="fort_belong_user">所属用户</label>
                            <select class="form-control select2" id="fort_belong_user"
                                    multiple="multiple" name="fort_belong_user"
                                    style="width: 100%;">
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="fort_belong_group">所属组</label>
                            <select class="form-control select2" id="fort_belong_group"
                                    multiple="multiple" name="fort_belong_group"
                                    style="width: 100%;">
                                {% for group in groups %}
                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="fort_black_commands">该用户禁用命令</label>
                            <textarea class="form-control" id="fort_black_commands"
                                      name="fort_black_commands" placeholder="建议使用绝对路径，多个命令使用逗号隔开"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="fort_user_memo">用户说明</label>
                            <textarea class="form-control" id="fort_user_memo"
                                      name="fort_user_memo"></textarea>
                        </div>

                        <div class="space-24"></div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal"
                        onclick="addFortUser({{ fort_server.id }},{{ fort_server.server.id }})">
                    确认添加
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    // 设置用户认证方式
    function authType() {
        let auth_type = $('#fort_auth_type').val();
        let key_file = $('.fort_key_file');
        let pwd = $('.fort_password');

        auth_type === '0' ? key_file.hide() && pwd.show() : key_file.show() && pwd.hide();
    }

    // 添加用户
    function addFortUser(fort_server_id, server_id) {
        {% if perms.fortserveruser.add_fortserveruser %}
            let username = $('#addFortUserModal-' + fort_server_id + ' #fort_username').val();
            let password = $('#addFortUserModal-' + fort_server_id + ' #fort_password').val();
            let fort_black_commands = $('#addFortUserModal-' + fort_server_id + ' #fort_black_commands').val();
            let black_commands = gen_sudo_conf(fort_black_commands);
            let data = {
                fort_server: $('#addFortUserModal-' + fort_server_id + ' #fort_server').val(),
                fort_username: username,
                fort_password: password,
                fort_user_status: $('#addFortUserModal-' + fort_server_id + ' #fort_user_status').val(),
                fort_auth_type: $('#addFortUserModal-' + fort_server_id + ' #fort_auth_type').val(),
                fort_key_file: $('#addFortUserModal-' + fort_server_id + ' #fort_key_file').val(),
                fort_belong_user: $('#addFortUserModal-' + fort_server_id + ' #fort_belong_user').val(),
                fort_belong_group: $('#addFortUserModal-' + fort_server_id + ' #fort_belong_group').val(),
                fort_black_commands: fort_black_commands,
                fort_user_memo: $('#addFortUserModal-' + fort_server_id + ' #fort_user_memo').val(),
            };
            let ansible_data = {
                hostGroup: 'custom',
                ans_group_hosts: server_id,
                ansibleModule: 'shell',
                ansibleModuleArgs: `useradd ${username} && echo "${password}" | passwd --stdin ${username} && echo '${username}  ALL\\=(ALL)       NOPASSWD: ALL,${black_commands}' > /etc/sudoers.d/${username}`,
            };
            $.ajax({
                url: '{% url 'run_module' %}',
                type: 'POST',
                data: ansible_data,
                async: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                },
                success: function (res) {
                    if (res.msg[0].indexOf('success') !== -1) {
                        $.ajax({
                            url: '/api/fort_user/',
                            type: 'POST',
                            data: JSON.stringify(data),
                            async: false,
                            dataType: 'json',
                            contentType: "application/json",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                            },
                            success: function () {
                                window.location.reload();
                            },
                            error: function (response) {
                                $.alert({
                                    title: 'Tips',
                                    type: 'red',
                                    content: response.responseText,
                                })
                            }
                        });
                    } else {
                        $.alert({
                            title: 'Tips',
                            type: 'red',
                            content: '添加用户失败！' + res.responseText,
                        })
                    }

                },
                error: function (response) {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: '服务器添加用户失败！' + response.responseText,
                    })
                }
            });
        {% else %}
            $.alert({
                title: 'Tips',
                type: 'red',
                content: '抱歉！您没有添加用户的权限！如有疑问，请联系管理员！',
            });
        {% endif %}

    }
</script>