{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/iCheck/all.css' %}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'AdminLTE/bower_components/select2/dist/css/select2.min.css' %}">

    <style>
        /* dataTables列内容居中 */
        #example1 > tbody > tr > td {
            text-align: center;
        }

        /* dataTables表头居中 */
        #example1 > thead:first-child > tr:first-child > th {
            text-align: center;
        }

        .form-horizontal .form-group {
            margin-left: 80px;
            margin-right: 80px;
            margin-bottom: 10px;
            display: block;
        }

        label {
            float: left;
        }

        .form-inline .form-control {
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="{% static 'jquery-confirm/dist/jquery-confirm.min.css' %}">
{% endblock %}

{% block content %}
    <div class="col-sm-7 pull-left" style="margin-bottom: 3px; margin-top: 3px">
        <button class="btn btn-sm btn-success pull-left" data-toggle="modal"
                data-target="#addFortModal">
            <i class="fa fa-plus-square"></i>
            <span class="bigger-110">新增主机</span>
        </button>
        <button class="btn btn-sm btn-danger pull-left" id="deleteChecked" style="margin-left: 2px">
            <i class="fa fa-exclamation-triangle"></i>
            <span class="bigger-110">批量删除</span>
        </button>
        <button class="btn btn-sm btn-warning pull-left" data-toggle="modal" style="margin-left: 2px"
                data-target="#updateBlackCommands">
            <i class="fa fa-bolt"></i>
            <span class="bigger-110">配置统一禁用命令</span>
        </button>
    </div>
    <div class="row">
        <!--dataTable-->
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th><label>
                                <input type="checkbox" class="minimal-red" id="checkAll">
                            </label></th>
                            <th>主机</th>
                            <th>系统</th>
                            <th>账号</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fort_server in fort_servers %}

                            <tr id="fort-{{ fort_server.id }}">
                                <td><label>
                                    <input type="checkbox" class="minimal" value="{{ fort_server.id }}">
                                </label></td>
                                <td>{{ fort_server.server.assets.asset_management_ip }}</td>
                                <td>
                                    {% if 'win' in fort_server.server.system or 'Win' in fort_server.server.system %}
                                        <i class="fa fa-fw fa-windows" style="color: #00a7d0;font-size: 25px"></i>
                                    {% else %}
                                        <i class="fa fa-fw fa-linux" style="color: green;font-size: 25px"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% for fort_user in fort_server.fortserveruser_set.all %}
                                        {% if fort_user.fort_user_status == 0 %}
                                            <span class="badge bg-red" data-toggle="modal"
                                                  data-target="#updateFortUserModal-{{ fort_user.id }}"
                                                  style="cursor: pointer">{{ fort_user.fort_username }}</span>&nbsp;
                                        {% elif fort_user.fort_user_status == 1 %}
                                            <span class="badge bg-green" data-toggle="modal"
                                                  data-target="#updateFortUserModal-{{ fort_user.id }}"
                                                  style="cursor: pointer">{{ fort_user.fort_username }}</span>&nbsp;
                                        {% endif %}

                                        <!-- updateFortUserModal  -->
                                        {% include 'fort/update_fort_user.html' %}
                                    {% endfor %}
                                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal"
                                            title="添加账号，同时会在服务器中添加该用户"
                                            data-target="#addFortUserModal-{{ fort_server.id }}"><i
                                            class="fa fa-plus"></i>
                                    </button>
                                </td>
                                <td>
                                    {% if fort_server.server_status == 0 %}
                                        <span class="badge bg-red">{{ fort_server.get_server_status_display }}</span>
                                    {% else %}
                                        <span class="badge bg-green">{{ fort_server.get_server_status_display }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs"
                                            onclick="disable_server({{ fort_server.id }}, {{ fort_server.server.id }})">
                                        禁用
                                    </button>
                                    <button type="button" class="btn btn-info btn-xs"
                                            onclick="enable_server({{ fort_server.id }}, {{ fort_server.server.id }})">
                                        解禁
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs"
                                            onclick="deleteFort({{ fort_server.id }})">删除
                                    </button>
                                </td>
                            </tr>

                            <!-- addFortUserModal  -->
                            {% include 'fort/add_fort_user.html' %}
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->

    {% include 'fort/add_fort.html' %}

    {% include 'fort/update_black_commands.html' %}

{% endblock %}


{% block js %}
    <!-- Select2 -->
    <script src="{% static 'AdminLTE/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <!-- iCheck 1.0.1 -->
    <script src="{% static 'AdminLTE/plugins/iCheck/icheck.min.js' %}"></script>

    <script src="{% static 'jquery-confirm/dist/jquery-confirm.min.js' %}"></script>

    <script>
        $(function () {
            $('#example1').DataTable({
                columnDefs: [{
                    'targets': [0, -1],
                    'orderable': false
                }],
                "order": [[1, "asc"]]
            });
        });


        // Initialize Select2 Elements
        $(function () {
            $('.select2').select2()
        });

        // iCheck for checkbox inputs
        $('input[type="checkbox"].minimal, input[type="checkbox"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
        });

        // 实现全选
        $(function () {
            let checkAll = $('#checkAll');
            let checkboxes = $('input[type="checkbox"]');
            checkAll.on('ifChecked ifUnchecked', function (event) {
                if (event.type === 'ifChecked') {
                    checkboxes.iCheck('check');
                } else {
                    checkboxes.iCheck('uncheck');
                }
            });
            checkboxes.on('ifChanged', function () {
                if (checkboxes.filter(':checked').length === checkboxes.length) {
                    checkAll.prop('checked', 'checked');
                } else {
                    checkAll.removeProp('checked');
                }
                checkAll.iCheck('update');
            });
        });

        // 删除主机
        function deleteFort(id) {
            {% if perms.fort.delete_fortserver %}
                $.confirm({
                    title: 'Tips',
                    content: '确定要删除么？',
                    type: 'red',
                    buttons: {
                        Ok: function () {
                            $.ajax({
                                url: '/api/fort/' + id,
                                method: 'DELETE',
                                success: function () {
                                    let str = 'fort-' + id;
                                    document.getElementById(str).innerHTML = '';
                                },
                                error: function (data) {
                                    $.alert({
                                        title: 'Tips',
                                        type: 'red',
                                        content: '删除失败！' + data.responseText,
                                    })
                                }
                            })
                        },
                        Cancel: function () {
                            // close
                        }
                    }
                });
            {% else %}
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '抱歉！您没有删除主机的权限！如有疑问，请联系管理员！',
                });
            {% endif %}

        }

        // 批量删除主机
        $("#deleteChecked").click(function () {
            {% if perms.fort.delete_fortserver %}
                let checkedID = [];
                $('input[type="checkbox"].minimal:checked').each(function () {
                    checkedID.push($(this).val());
                });
                if (checkedID.length === 0) {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: '请选择要删除的主机！',
                    })
                } else {
                    $.confirm({
                        title: 'Tips',
                        content: '确定要删除么？',
                        type: 'red',
                        buttons: {
                            Ok: function () {
                                for (let i = 0; i < checkedID.length; i++) {
                                    $.ajax({
                                        url: '/api/fort/' + checkedID[i],
                                        method: 'DELETE',
                                        success: function () {
                                            let str = 'fort-' + checkedID[i];
                                            document.getElementById(str).innerHTML = '';
                                        },
                                        error: function (data) {
                                            $.alert({
                                                title: 'Tips',
                                                type: 'red',
                                                content: '删除失败！' + data.responseText,
                                            })
                                        }
                                    })
                                }
                            },
                            Cancel: function () {
                                // close
                            }
                        }
                    })
                }
            {% else %}
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '抱歉！您没有删除主机的权限！如有疑问，请联系管理员！',
                });
            {% endif %}

        });

        // 禁用主机
        function disable_server(fort_server_id, server_id) {
            {% if perms.fort.change_fortserver %}
                const data = {
                    server: server_id,
                    server_status: 0,
                };
                $.ajax({
                    url: '/api/fort/' + fort_server_id + '/',
                    type: 'PUT',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function () {
                        $('#fort-' + fort_server_id + ' td:eq(4)').html('<span class="badge bg-red">禁用</span>')
                    },
                    error: function (response) {
                        $.alert({
                            title: 'Tips',
                            type: 'red',
                            content: response.responseText,
                        })
                    }
                });
            {% else %}
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '抱歉！您没有更新主机的权限！如有疑问，请联系管理员！',
                });
            {% endif %}
        }

        // 解禁主机
        function enable_server(fort_server_id, server_id) {
            {% if perms.fort.change_fortserver %}
                const data = {
                    server: server_id,
                    server_status: 1,
                };
                $.ajax({
                    url: '/api/fort/' + fort_server_id + '/',
                    type: 'PUT',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function () {
                        $('#fort-' + fort_server_id + ' td:eq(4)').html('<span class="badge bg-green">正常</span>')
                    },
                    error: function (response) {
                        $.alert({
                            title: 'Tips',
                            type: 'red',
                            content: response.responseText,
                        })
                    }
                });
            {% else %}
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '抱歉！您没有更新主机的权限！如有疑问，请联系管理员！',
                });
            {% endif %}
        }


        // 生成sudo配置文件内容
        function gen_sudo_conf(user_black_commands) {
            let command_list = [];
            let black_commands = String();
            if (user_black_commands.length === 0) {
                black_commands = '{{ black_commands.black_commands }}'
            } else {
                black_commands = '{{ black_commands.black_commands }}' + ',' + user_black_commands;
            }
            let t_commands_list = black_commands.split(',');
            for (let i = 0; i < t_commands_list.length; i++) {
                command_list.push('!' + t_commands_list[i].trim())
            }

            let u_command_list = Array.from(new Set(command_list));
            return u_command_list.join(',')
        }

    </script>

{% endblock %}

