{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSSH</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/asciinema-player.css' %}" />
</head>
<body>
<p style="background-color: #dd4b39 !important;color: #fff !important;">关闭窗口之前请先执行两次<span
        style="background-color: #ffff00;color: #000000;">exit</span>命令，第一次退出录屏，第二次退出服务器！最终确保服务器返回了已成功登出。当前使用账号为：<span
        style="background-color: #ffff00;color: #000000;">{{ fort_username }}@{{ server_ip }}</span>
</p>
<asciinema-player src="{% static 'bb.his' %}" rows="30" cols="128"></asciinema-player>
</body>

<script src="{% static 'js/asciinema-player.js' %}"></script>

</html>