<!-- updateFortUserModal  -->
<div class="modal fade" id="updateFortUserModal-{{ fort_user.id }}"
     tabindex="-1" role="dialog"
     aria-labelledby="updateFortUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="updateFortUserModalLabel">
                    用户信息
                </h4>
            </div>
            <div class="modal-body">
                <form class="main form-horizontal" id="update_user">
                    <fieldset>
                        <div class="form-group" style="display: none;">
                            <label for="fort_server"></label>
                            <input type="text" class="form-control"
                                   name="fort_server" id="fort_server"
                                   value="{{ fort_server.id }}" readonly/>
                        </div>

                        <div class="form-group">
                            <label for="fort_username">用户名称</label>
                            <input type="text" class="form-control"
                                   name="fort_username" id="fort_username"
                                   value="{{ fort_user.fort_username }}"/>
                        </div>

                        <div class="form-group">
                            <label for="fort_user_status">用户状态</label>
                            <select class="form-control select2"
                                    id="fort_user_status"
                                    name="fort_user_status"
                                    style="width: 100%;">
                                {% for user_status in fort_user_status %}
                                    {% if user_status.0 == fort_user.fort_user_status %}
                                        <option value="{{ user_status.0 }}"
                                                selected>{{ user_status.1 }}</option>
                                    {% else %}
                                        <option value="{{ user_status.0 }}">{{ user_status.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="fort_auth_type">认证方式</label>
                            <select class="form-control select2"
                                    id="fort_auth_type" name="fort_auth_type"
                                    style="width: 100%;"
                                    onchange="changeAuth({{ fort_user.id }})">
                                {% for auth_type in auth_types %}
                                    {% if auth_type.0 == fort_user.fort_auth_type %}
                                        <option value="{{ auth_type.0 }}"
                                                selected>{{ auth_type.1 }}</option>
                                    {% else %}
                                        <option value="{{ auth_type.0 }}">{{ auth_type.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        {% if fort_user.fort_auth_type == 0 %}
                            <div class="form-group fort_password">
                                <label for="fort_password">用户密码</label><span
                                    class="text-red">若修改密码，不会在服务器中更改</span>
                                <input type="password" class="form-control"
                                       name="fort_password" id="fort_password"
                                       value="{{ fort_user.fort_password }}"/>
                            </div>

                            <div class="form-group fort_key_file"
                                 style="display: none">
                                <label for="fort_key_file">私钥内容</label>
                                <textarea class="form-control"
                                          id="fort_key_file"
                                          name="fort_key_file">{{ fort_user.fort_key_file }}</textarea>
                            </div>
                        {% elif fort_user.fort_auth_type == 1 %}
                            <div class="form-group fort_password"
                                 style="display: none">
                                <label for="fort_password">用户密码</label><span
                                    class="text-red">若修改密码，不会在服务器中更改</span>
                                <input type="password" class="form-control"
                                       name="fort_password"
                                       id="fort_password"
                                       value="{{ fort_user.fort_password }}"/>
                            </div>

                            <div class="form-group fort_key_file">
                                <label for="fort_key_file">私钥内容</label>
                                <textarea class="form-control"
                                          id="fort_key_file"
                                          name="fort_key_file">{{ fort_user.fort_key_file }}</textarea>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="fort_belong_user">所属用户</label>
                            <select class="form-control select2"
                                    id="fort_belong_user"
                                    multiple="multiple" name="fort_belong_user"
                                    style="width: 100%;">
                                {% for user in users %}
                                    {% if user in fort_user.fort_belong_user.all %}
                                        <option value="{{ user.id }}"
                                                selected>{{ user.username }}</option>
                                    {% else %}
                                        <option value="{{ user.id }}">{{ user.username }}</option>
                                    {% endif %}

                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="fort_belong_group">所属组</label>
                            <select class="form-control select2"
                                    id="fort_belong_group"
                                    multiple="multiple" name="fort_belong_group"
                                    style="width: 100%;">
                                {% for group in groups %}
                                    {% if group in fort_user.fort_belong_group.all %}
                                        <option value="{{ group.id }}"
                                                selected>{{ group.name }}</option>
                                    {% else %}
                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                    {% endif %}

                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="fort_black_commands">该用户禁用命令<span class="text-red">*多个命令使用逗号隔开</span></label>
                            <textarea class="form-control" id="fort_black_commands"
                                      name="fort_black_commands">{{ fort_user.fort_black_commands }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="fort_user_memo">用户说明</label>
                            <textarea class="form-control" id="fort_user_memo"
                                      name="fort_user_memo">{{ fort_user.fort_user_memo }}</textarea>
                        </div>

                        <div class="space-24"></div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal"
                        onclick="updateFortUser({{ fort_user.id }}, {{ fort_server.server.id }})">修改
                </button>
                <button type="button" class="btn btn-danger"
                        title="同时会在服务器中删除该用户" data-dismiss="modal"
                        onclick="deleteFortUser({{ fort_server.server.id }}, {{ fort_user.id }})">
                    删除
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>

    // 更新用户
    function updateFortUser(fort_user_id, server_id) {
        {% if perms.fort.change_fortserveruser %}
            let fort_username = $('#updateFortUserModal-' + fort_user_id + ' #fort_username').val();
            let fort_black_commands = $('#updateFortUserModal-' + fort_user_id + ' #fort_black_commands').val();
            let black_commands = gen_sudo_conf(fort_black_commands);
            let data = {
                fort_server: $('#updateFortUserModal-' + fort_user_id + ' #fort_server').val(),
                fort_username: fort_username,
                fort_password: $('#updateFortUserModal-' + fort_user_id + ' #fort_password').val(),
                fort_user_status: $('#updateFortUserModal-' + fort_user_id + ' #fort_user_status').val(),
                fort_auth_type: $('#updateFortUserModal-' + fort_user_id + ' #fort_auth_type').val(),
                fort_key_file: $('#updateFortUserModal-' + fort_user_id + ' #fort_key_file').val(),
                fort_belong_user: $('#updateFortUserModal-' + fort_user_id + ' #fort_belong_user').val(),
                fort_belong_group: $('#updateFortUserModal-' + fort_user_id + ' #fort_belong_group').val(),
                fort_black_commands: fort_black_commands,
                fort_user_memo: $('#updateFortUserModal-' + fort_user_id + ' #fort_user_memo').val(),
            };
            let ansible_data = {
                hostGroup: 'custom',
                ans_group_hosts: server_id,
                ansibleModule: 'shell',
                ansibleModuleArgs: `echo '${fort_username}  ALL\\=(ALL)       NOPASSWD: ALL,${black_commands}' > /etc/sudoers.d/${fort_username}`,
            };
            $.ajax({
                url: '{% url 'run_module' %}',
                type: 'POST',
                data: ansible_data,
                success: function (res) {
                    if (res.msg[0].indexOf('success') !== -1) {
                        $.ajax({
                            url: '/api/fort_user/' + fort_user_id + '/',
                            type: 'PUT',
                            data: JSON.stringify(data),
                            dataType: 'json',
                            contentType: "application/json",
                            success: function () {
                                window.location.reload();
                            },
                            error: function (response) {
                                $.alert({
                                    title: 'Tips',
                                    type: 'red',
                                    content: response.responseText,
                                })
                            }
                        });
                    } else {
                        $.alert({
                            title: 'Tips',
                            type: 'red',
                            content: '更新用户失败！' + res.responseText,
                        })
                    }

                },
                error: function (response) {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: '更新用户失败！' + response.responseText,
                    })
                }
            });
        {% else %}
            $.alert({
                title: 'Tips',
                type: 'red',
                content: '抱歉！您没有修改用户的权限！如有疑问，请联系管理员！',
            });
        {% endif %}
    }

    // 删除用户
    function deleteFortUser(server_id, user_id) {
        {% if perms.fort.delete_fortserveruser %}
            $.confirm({
                title: 'Tips',
                content: '确定要删除么？',
                type: 'red',
                buttons: {
                    Ok: function () {
                        let username = $('#updateFortUserModal-' + user_id + ' #fort_username').val();
                        let ansible_data = {
                            hostGroup: 'custom',
                            ans_group_hosts: server_id,
                            ansibleModule: 'user',
                            ansibleModuleArgs: 'name=' + username + ' state=absent remove=yes',
                        };
                        $.ajax({
                            url: '{% url 'run_module' %}',
                            type: 'POST',
                            data: ansible_data,
                            success: function () {
                                $.ajax({
                                    url: '/api/fort_user/' + user_id + '/',
                                    method: 'DELETE',
                                    success: function () {
                                        window.location.reload()
                                    },
                                    error: function (data) {
                                        $.alert({
                                            title: 'Tips',
                                            type: 'red',
                                            content: '删除失败！' + data.responseText,
                                        })
                                    }
                                })
                            },
                            error: function (response) {
                                $.alert({
                                    title: 'Tips',
                                    type: 'red',
                                    content: '服务器删除用户失败！' + response.responseText,
                                })
                            }
                        });
                    },
                    Cancel: function () {
                        // close
                    }
                }
            });
        {% else %}
            $.alert({
                title: 'Tips',
                type: 'red',
                content: '抱歉！您没有删除用户的权限！如有疑问，请联系管理员！',
            });
        {% endif %}
    }

    // 更改用户认证方式
    function changeAuth(id) {
        let auth_type = $('#updateFortUserModal-' + id + ' #fort_auth_type').val();
        let key_file = $('#updateFortUserModal-' + id + ' .fort_key_file');
        let pwd = $('#updateFortUserModal-' + id + ' .fort_password');

        auth_type === '0' ? key_file.hide() && pwd.show() : key_file.show() && pwd.hide();
    }
</script>