/* CSS Document */
*{
	font-family:"微软雅黑","Open Sans", "Hiragino Sans GB", "Microsoft YaHei",  "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
	padding:0;
	margin:0;
}


body{font-size:14px;padding:0;	margin:0; width:100%; color:#333;}
a{
	color:#333;
	text-decoration:none;
	
}
a:hover {
	text-decoration:none;
}
.clear {
	clear:both;
}
ul{ padding:0; margin:0;}
ul li,li{ list-style-type:none;}
img{ border:none;}
.fl{ float:left;}
.fr{ float:right;}

.cl{ clear:both;}

@font-face {
    font-family: 'szm';
	src:url(../images/STXINGKA.TTF);
    font-weight: normal;
    font-style: normal;
}
.none{ display:none;}
.mm{ margin-top:110px;}
.borno{ border:none;}
input{outline:none;  background:none;  outline:none;   border:0px;  }
input,button,select,textarea{outline:none;list-style-type:none;}
button{border-width:0;}
textarea{resize:none;}
 
.w1200{max-width: 1200px;margin: 0  auto;height:100%;position: relative; z-index:2;}



/* 去掉 table cell 的边距并让其边重合 */
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* ie bug：th 不继承 text-align */
th {
    text-align:inherit;
}
/* 去除默认边框 */
fieldset,img {
    border:none;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:none;
    font-variant:normal;
}
/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}
address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}
/* 去掉列表前的标识，li 会继承 */
ol,ul {
    list-style:none;
}
/* 对齐是排版最重要的因素，别让什么都居中 */
caption,th {
    text-align:left;
}
i{font-style: normal;}


h5,h6{font-weight: normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}