{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ssh_server_ip }}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link href="{% static 'bootstrap-fileinput/css/fileinput.min.css' %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/xterm.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'jquery-confirm/dist/jquery-confirm.min.css' %}">
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-bottom: 0">
    <a class="navbar-brand">当前登录服务器为： {{ ssh_server_ip }} </a>
    <form class="form-inline" enctype="multipart/form-data">
        <div class="input-group" style="margin-top: 10px;margin-left: 200px;">
            <input type="file" id="upload_file" class="file" name="upload_file" multiple required>
        </div>

        <input class="form-control mr-sm-2" type="search" id="download_file" name="download_file"
               placeholder="请输入要下载文件的全路径" aria-label="Search" style="width: 20%;margin-top: 10px;margin-left: 20px;">
        <button class="btn btn-outline-success my-2 my-sm-0 download_file" type="button" style="margin-top: 10px;">下载
        </button>
    </form>
</nav>

<div id="terms"></div>
</body>

<script src="{% static 'AdminLTE/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap-fileinput/js/fileinput.min.js' %}"></script>
<script src="{% static 'js/xterm.js' %}"></script>
<script src="{% static 'jquery-confirm/dist/jquery-confirm.min.js' %}"></script>
<script>
    const socket = new WebSocket('ws://' + window.location.host + '/ws/webssh/{{ pk }}/{{ group_name }}/');

    socket.onopen = function () {

        const term = new Terminal({
            rows: 34,
            cols: 128,
            screenKeys: true,
            useStyle: true,
            cursorBlink: true,
        });
        term.open(document.getElementById('terms'));

        term.on('data', function (data) {
            socket.send(data);
        });

        socket.onmessage = function (msg) {
            term.write(msg.data);
        };
        socket.onerror = function (e) {
            alert(e);
        };

        socket.onclose = function () {
            term.destroy();
        };
    };

    $("#upload_file").fileinput({
        language: 'zh',
        showUpload: true,
        dropZoneEnabled: false,
        msgPlaceholder: '上传文件...',
        showPreview: false,
        showCaption: true,
        maxFileSize: 10240,
        maxFileCount: 10,
        uploadUrl: '/assets/ssh/' + {{ pk }} +'/',
        mergeAjaxCallbacks: true,
        ajaxSettings: {
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: function (response) {
                if (response.code === 200) {
                    $.alert({
                        title: 'Tips',
                        type: 'green',
                        content: response.msg,
                    })
                } else {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: response.msg,
                    })
                }
            },
            error: function (response) {
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: response.msg,
                })
            },
        },
        browseLabel: '浏览文件',
        removeLabel: '清空',
        uploadLabel: '上传'
    });

    $('.download_file').on('click', function () {
        let download_file = $('#download_file').val();

        if (download_file.length !== 0) {
            location.href = '/assets/ssh/' + {{ pk }} +'/?download_file=' + download_file
        } else {
            $.alert({
                title: 'Tips',
                type: 'red',
                content: "文件名不能为空！",
            })
        }
    })

</script>

</html>