{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'AdminLTE/bower_components/select2/dist/css/select2.min.css' %}">
    <link href="{% static 'bootstrap-fileinput/css/fileinput.min.css' %}" media="all" rel="stylesheet" type="text/css"/>

    <style>
        /* dataTables列内容居中 */
        #role > tbody > tr > td {
            text-align: center;
        }

        /* dataTables表头居中 */
        #role > thead:first-child > tr:first-child > th {
            text-align: center;
        }

        .form-horizontal .form-group {
            margin: 0;
        }

        .form-horizontal .control-label {
            text-align: unset;
            margin-bottom: 5px;
        }

        .form-horizontal .col-sm-6 {
            width: 100%;
        }

        #content {
            width: 100%;
            height: 400px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'jquery-confirm/dist/jquery-confirm.min.css' %}">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-7 pull-left" style="margin-bottom: 3px; margin-top: 3px">
            <button class="btn btn-sm btn-success pull-left" data-toggle="modal" style="margin-left: 2px"
                    data-target="#RoleAddModal">
                <i class="fa fa-edit"></i>
                <span class="bigger-110">在线添加剧本</span>
            </button>
            <button class="btn btn-sm btn-success pull-left" data-toggle="modal" style="margin-left: 2px"
                    data-target="#PlaybookUploadModal">
                <i class="fa fa-upload"></i>
                <span class="bigger-110">上传playbook</span>
            </button>
        </div>
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <!-- dataTable -->
                <div class="box-body">
                    <table id="role" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>剧本名称</th>
                            <th>剧本描述</th>
                            <th>添加日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for role in roles %}
                            <tr>
                                <td>{{ role.playbook_name }}</td>
                                <td>{{ role.role_desc|default:"" }}</td>
                                <td>{{ role.role_time|date:"Y-m-d H:i:s" }}</td>
                                <td>
                                    <a href="{% url 'role_detail' role.id %}">
                                        <button type="button" class="btn btn-success btn-xs">详细/修改
                                        </button>
                                    </a>
                                    <button type="button" class="btn btn-primary btn-xs run" data-toggle="modal"
                                            data-target="#PlaybookRunModal" data-id="{{ role.id }}">
                                        执行
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs delete"
                                            data-id="{{ role.id }}">
                                        删除
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <div class="box-footer" style="display: none">
                <pre style="background-color: black"></pre>
            </div>


            <!-- RoleAddModal  -->
            <div class="modal fade" id="RoleAddModal" tabindex="-1" role="dialog"
                 aria-labelledby="RoleAddModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="RoleAddModalLabel">
                                添加剧本
                            </h4>
                        </div>
                        {% if perms.task.add_ansiblerole %}
                            <div class="modal-body">
                                <form id="playbook_form" class="main form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="playbook_name" class="col-sm-2 control-label">剧本名称</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" name="playbook_name" id="playbook_name"
                                                       required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="role_name" class="col-sm-2 control-label">role名称</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" name="role_name" placeholder="多个名称以逗号隔开"
                                                       id="role_name" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="playbook_desc" class="col-sm-2 control-label">剧本描述</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control" name="playbook_desc" rows="5"
                                                          id="playbook_desc"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" id="role_add">确认添加</button>
                            </div>
                        {% else %}
                            <div class="modal-body">
                                抱歉！您没有此操作的权限！如有疑问，请联系管理员！
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                            </div>
                        {% endif %}
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

            <!-- PlaybookUploadModal  -->
            <div class="modal fade" id="PlaybookUploadModal" tabindex="-1" role="dialog"
                 aria-labelledby="PlaybookUploadModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="PlaybookUploadModalLabel">
                                上传剧本
                            </h4>
                        </div>
                        {% if perms.task.add_ansibleplaybook %}
                            <div class="modal-body">
                                <form id="playbook_detail" class="main form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="playbook_desc" class="col-sm-2 control-label">剧本描述</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control" name="playbook_desc" rows="5"
                                                          id="playbook_desc"></textarea>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label for="playbook_file" class="col-sm-2 control-label">剧本文件</label>
                                            <div class="col-sm-6">
                                                <input type="file" id="playbook_file" class="file" name="playbook_file"
                                                       required>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" id="playbook_ops">上传</button>
                            </div>
                        {% else %}
                            <div class="modal-body">
                                抱歉！您没有此操作的权限！如有疑问，请联系管理员！
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                            </div>
                        {% endif %}
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

            <!-- PlaybookRunModal  -->
            <div class="modal fade bd-example-modal-lg" id="PlaybookRunModal" tabindex="-1" role="dialog"
                 aria-labelledby="PlaybookRunModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="PlaybookRunModalLabel">
                                执行playbook
                            </h4>
                        </div>
                        {% if perms.task.add_ansibleplaybook %}
                            <div class="modal-body">
                                <form id="playbook_info" class="main form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="inventory"
                                                   class="col-sm-2 control-label">inventory</label>
                                            <div class="col-sm-6">
                                                <select class="form-control select2" multiple="multiple"
                                                        style="width: 100%;" id="inventory" name="inventory">
                                                    {% for ans_group in inventory %}
                                                        <option value="{{ ans_group.id }}">{{ ans_group.ans_group_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="content" class="col-sm-2 control-label">剧本内容</label>
                                            <div class="col-sm-6">
                                                <div id="content"></div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="playbook_run">
                                    确认执行
                                </button>
                            </div>
                        {% else %}
                            <div class="modal-body">
                                抱歉！您没有此操作的权限！如有疑问，请联系管理员！
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                            </div>
                        {% endif %}
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
    <!-- /.row -->

{% endblock %}


{% block js %}
    <!-- Select2 -->
    <script src="{% static 'AdminLTE/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-fileinput/js/fileinput.min.js' %}"></script>
    <script src="{% static 'ace/js/ace.js' %}"></script>
    <script src="{% static 'ace/js/mode-yaml.js' %}"></script>
    <script src="{% static 'ace/js/theme-monokai.js' %}"></script>
    <script src="{% static 'jquery-confirm/dist/jquery-confirm.min.js' %}"></script>

    <script>
        $(function () {
            role_table = $('#role').DataTable({
                columnDefs: [{
                    'targets': [-1,],
                    'orderable': false
                }],
                "order": [[0, "asc"]]
            });

            // Initialize Select2 Elements
            $('.select2').select2({
                allowClear: true
            });

            $("[data-toggle='tooltip']").tooltip();
        });

        $('#role_add').on('click', function () {
            let playbook_name = $('#playbook_form #playbook_name').val();
            let role_names = $('#role_name').val();
            window.location.href = `/run/role_add/?playbook_name=${playbook_name}&role_names=${role_names}`
        });


        $("#playbook_file").fileinput({
            language: 'zh',
            showUpload: false,
            dropZoneEnabled: false,
            msgPlaceholder: '只能上传zip格式的压缩文件',
            allowedFileExtensions: ["zip"],
            showPreview: false,
            showCaption: true,
            maxFileSize: 10240,
            uploadUrl: "{% url 'role_list' %}",
            mergeAjaxCallbacks: true,
            ajaxSettings: {
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                error: function (response) {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: response.msg,
                    })
                },
            },
            browseLabel: '浏览文件',
            removeLabel: '删除',
        }).on('fileuploaded', function (event, data, previewId, index) {
            $.ajax({
                url: "{% url 'role_list' %}",
                type: 'POST',
                traditional: true,
                dataType: 'json',
                data: {
                    playbook_name: data.files[0].name,
                    playbook_desc: $('#playbook_desc').val()
                },
                success: function (res) {
                    if (res.code === 200) {
                        $.confirm({
                            title: 'Tips',
                            content: res.msg,
                            type: 'green',
                            buttons: {
                                Ok: function () {
                                    window.location.reload()
                                },
                            }
                        });
                    }
                },
                error: function (response) {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: response.responseText,
                    })
                }
            })
        });

        // 上传playbook
        $('#playbook_ops').on('click', function () {
            let playbook_file = $("#playbook_file").val();
            if (playbook_file.length === 0) {
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '请注意必选项！',
                })
            } else {
                let playbook_name = playbook_file.slice(playbook_file.lastIndexOf('\\') + 1,).split('.zip')[0];
                $.get('/run/chk_playbook_name/?playbook_name=' + playbook_name, function (res) {
                    if (res.code === 500) {
                        $.alert({
                            title: 'Tips',
                            type: 'red',
                            content: res.msg,
                        });
                    } else {
                        $("#playbook_file").fileinput('upload');
                    }
                })

            }
        });


        <!-- role操作 -->
        let role_tbody = $('#role tbody');

        // 执行role
        role_tbody.on('click', '.run', function () {
            let role_id = $(this).attr('data-id');

            $.get('/run/role_run/' + role_id + '/', function (data) {
                if (data.code === 200) {
                    editor = ace.edit("content");
                    editor.setTheme("ace/theme/monokai");
                    let YamlMode = ace.require("ace/mode/yaml").Mode;
                    editor.session.setMode(new YamlMode());
                    editor.setShowPrintMargin(false);
                    editor.setReadOnly(true);

                    editor.setValue(data.content, -1);

                    playbook_name = data.playbook_name
                }
            });

            $('#playbook_run').unbind('click').on('click', function () {
                let group_ids = $('#inventory').val();
                if (group_ids.length === 0) {
                    $('#playbook_run').removeAttr('data-dismiss');
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: '请选择主机组',
                    })
                } else {
                    $('#playbook_run').attr('data-dismiss', 'modal');
                    let obj = $('pre');
                    obj.html('开始执行....\n');
                    $.ajax({
                        url: '/run/role_run/' + role_id + '/',
                        type: 'POST',
                        data: {group_ids: group_ids, playbook_name: playbook_name}, // 用于task记录playbook_name
                        dataType: 'json',
                        traditional: true,
                        success: function (res) {
                            $('.box-footer').css('display', 'block');
                            if (res.code === 200) {
                                res = res.msg;
                                for (let i = 0; i < res.length; i++) {
                                    if (res[i].indexOf('RECAP') !== -1) {
                                        obj.append(`<code style="color: #FFFFFF">${res[i]}</code><br>`)
                                    } else {
                                        obj.append(res[i])
                                    }
                                }
                                obj.append('<code>执行完毕....</code>')
                            } else {
                                obj.append(`<code>${res.msg}</code>`)
                            }
                        },
                        error: function (response) {
                            $.alert({
                                title: 'Tips',
                                type: 'red',
                                content: response.responseText,
                            })
                        }
                    })
                }
            });
        });

        // 删除role
        role_tbody.on('click', '.delete', function () {
            {% if perms.task.delete_ansiblerole %}
                let pk = $(this).attr('data-id');
                let tr_obj = $(this).parents('tr');
                $.confirm({
                    title: 'Tips',
                    content: '确定要删除这条记录么？',
                    type: 'red',
                    buttons: {
                        Ok: function () {
                            $.ajax({
                                url: '/run/role_del/' + pk + '/',
                                method: 'DELETE',
                                success: function (res) {
                                    if (res.code === 200) {
                                        role_table.row(tr_obj).remove().draw();
                                    } else {
                                        $.alert({
                                            title: 'Tips',
                                            type: 'red',
                                            content: res.msg,
                                        })
                                    }
                                },
                                error: function (data) {
                                    $.alert({
                                        title: 'Tips',
                                        type: 'red',
                                        content: '删除失败！' + data.responseText,
                                    })
                                }
                            })
                        },
                        Cancel: function () {
                            //
                        }
                    }
                });
            {% else %}
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '抱歉！您没有删除任务的权限！如有疑问，请联系管理员！',
                });
            {% endif %}
        });
    </script>

{% endblock %}

>