{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet"
          href="{% static 'AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/iCheck/all.css' %}">

    <style>
        /* dataTables列内容居中 */
        #moduleLog > tbody > tr > td {
            text-align: center;
        }

        /* dataTables表头居中 */
        #moduleLog > thead:first-child > tr:first-child > th {
            text-align: center;
        }

        /* dataTables列内容居中 */
        #playbookLog > tbody > tr > td {
            text-align: center;
        }

        /* dataTables表头居中 */
        #playbookLog > thead:first-child > tr:first-child > th {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="{% static 'jquery-confirm/dist/jquery-confirm.min.css' %}">
{% endblock %}

{% block content-header %}
    <h1>查看日志</h1>
{% endblock %}

{% block content %}

    <div class="row">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">查看模块操作日志</a></li>
                <li><a href="#tab_2" data-toggle="tab">查看playbook操作日志</a></li>
            </ul>
            <div class="tab-content">
                <div class="col-lg-12">
                    <br>
                    <div class="col-sm-8">
                        <button class="btn btn-sm btn-danger pull-left" id="deleteChecked" style="margin-left: 2px">
                            <i class="fa fa-warning"></i>
                            <span class="bigger-110">批量删除</span>
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="moduleLogStartTime" class="form-control pull-right"
                                       data-date-format="yyyy-mm-dd" placeholder="开始时间">
                                <span class="input-group-addon">
										                    <span class="glyphicon glyphicon-calendar"></span>
										                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="moduleLogEndTime" class="form-control pull-right"
                                       data-date-format="yyyy-mm-dd" placeholder="结束时间">
                                <span class="input-group-addon" onclick="searchModuleLog()">
										                    <span class="glyphicon glyphicon-search"
                                                                  style="cursor: pointer"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="tab_1">
                    <div class="col-xs-12">
                        <!-- /.box -->

                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="moduleLog" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th><label>
                                            <input type="checkbox" class="minimal-red" id="checkAll">
                                        </label></th>
                                        <th>操作用户</th>
                                        <th>操作用户IP</th>
                                        <th>模块名称</th>
                                        <th>模块参数</th>
                                        <th>主机</th>
                                        <th>执行时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for info in module_log_info %}
                                        <tr id="moduleLog-{{ info.id }}">
                                            <td><label>
                                                <input type="checkbox" class="minimal" value="{{ info.id }}">
                                            </label></td>
                                            <td>{{ info.ans_user }}</td>
                                            <td>{{ info.ans_remote_ip }}</td>
                                            <td>{{ info.ans_module }}</td>
                                            <td>{{ info.ans_args }}</td>
                                            <td>{{ info.ans_server }}</td>
                                            <td>{{ info.ans_datetime|date:"Y-m-d H:i:s" }}</td>
                                            <td>
                                                <button type="button" class="btn btn-default" data-toggle="modal"
                                                        data-target="#modal-default"
                                                        onclick="getModuleResult({{ info.ans_result }})"><abbr
                                                        title="查看详细信息"><i
                                                        class="glyphicon glyphicon-info-sign"></i></abbr>
                                                </button>
                                                <button type="button" class="btn btn-default"
                                                        onclick="deleteModuleResult({{ info.id }})"><i
                                                        class="glyphicon glyphicon-trash"></i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <div class="modal fade" id="modal-default">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">执行结果</h4>
                                </div>
                                <div class="modal-body">
                                    <pre style="background-color: black">

                                    </pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <div class="col-xs-12">
                        <!-- /.box -->

                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="playbookLog" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th><label>
                                            <input type="checkbox" class="minimal-red" id="checkAll">
                                        </label></th>
                                        <th>{{ fields.internal_ip }}</th>
                                        <th>{{ fields.public_ip }}</th>
                                        <th>{{ fields.hostname }}</th>
                                        <th>{{ fields.host_type }}</th>
                                        <th>{{ fields.sn }}</th>
                                        <th>{{ fields.scan_datetime }}</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for hostinfo in hostinfos %}

                                        <tr id="playbookLog-{{ info.id }}">
                                            <td><label>
                                                <input type="checkbox" class="minimal" value="{{ info.id }}">
                                            </label></td>
                                            <td>{{ hostinfo.internal_ip }}</td>
                                            <td>{{ hostinfo.public_ip }}</td>
                                            <td>{{ hostinfo.hostname }}</td>
                                            <td>{{ hostinfo.host_type }}</td>
                                            <td>{{ hostinfo.sn }}</td>
                                            <td>{{ hostinfo.scan_datetime|date:"Y-m-d H:i:s" }}</td>
                                            <td>
                                                <a href="/scan_host/detail/{{ hostinfo.id }}"
                                                   style="text-decoration:none;">
                                                    <button type="button" class="btn btn-default"><abbr
                                                            title="查看详细信息"><i
                                                            class="glyphicon glyphicon-info-sign"></i></abbr>
                                                    </button>
                                                </a>
                                                {% if perms.can_delete_ansible_module_log %}
                                                    <button type="button" class="btn btn-default"
                                                            onclick="deleteModuleResult({{ info.id }})"><i
                                                            class="glyphicon glyphicon-trash"></i></button>
                                                {% endif %}
                                            </td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
    <!-- /.row -->

{% endblock %}


{% block js %}
    <!-- DataTables -->
    <script src="{% static 'AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <!-- bootstrap datepicker -->
    <script src="{% static 'AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <!-- iCheck 1.0.1 -->
    <script src="{% static 'AdminLTE/plugins/iCheck/icheck.min.js' %}"></script>

    <script src="{% static 'jquery-confirm/dist/jquery-confirm.min.js' %}"></script>
    <script src="{% static 'js/jquery-dateFormat.min.js' %}"></script>

    <script>
        $(function () {
            $('#moduleLog, #playbookLog').DataTable({
                columnDefs: [{
                    'targets': [0, -1],
                    'orderable': false
                }],
                "order": [[6, "asc"]]
            });
        });

        //Date picker
        $('#moduleLogStartTime, #moduleLogEndTime').datepicker({
            autoclose: true
        });

        //iCheck for checkbox inputs
        $('input[type="checkbox"].minimal, input[type="checkbox"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
        });

        //实现全选
        $(function () {
            let checkAll = $('#checkAll');
            let checkboxes = $('input[type="checkbox"]');
            checkAll.on('ifChecked ifUnchecked', function (event) {
                if (event.type === 'ifChecked') {
                    checkboxes.iCheck('check');
                } else {
                    checkboxes.iCheck('uncheck');
                }
            });
            checkboxes.on('ifChanged', function () {
                if (checkboxes.filter(':checked').length === checkboxes.length) {
                    checkAll.prop('checked', 'checked');
                } else {
                    checkAll.removeProp('checked');
                }
                checkAll.iCheck('update');
            });
        });

        //批量删除
        $("#deleteChecked").click(function () {
            let checkedID = [];
            $('input[type="checkbox"].minimal:checked').each(function () {
                checkedID.push($(this).val());
            });
            if (checkedID.length === 0) {
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '请选择要删除的记录！',
                })
            } else {
                $.confirm({
                    title: 'Tips',
                    content: '确定要删除这些记录么？',
                    type: 'red',
                    buttons: {
                        Ok: function () {
                            for (let i = 0; i < checkedID.length; i++) {
                                $.ajax({
                                    url: '/api/run_log/' + checkedID[i],
                                    method: 'DELETE',
                                    beforeSend: function (xhr) {
                                        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                                    },
                                    success: function () {
                                        let str = 'moduleLog-' + checkedID[i];
                                        document.getElementById(str).innerHTML = '';
                                    },
                                    error: function (data) {
                                        $.alert({
                                            title: 'Tips',
                                            type: 'red',
                                            content: '删除失败！' + data.responseText,
                                        })
                                    }
                                })
                            }
                        },
                        Cancel: function () {
                            $.alert('canceled');
                        }
                    }
                })
            }
        });

        function getModuleResult(result) {
            result = Array.from(result);
            let obj = $('pre');
            obj.html('');
            for (let i = 0; i < result.length; i++) {
                if (result[i].indexOf('success') !== -1) {
                    obj.append('<code style="color: green">' + result[i] + '</code><br>')
                } else {
                    obj.append('<code style="color: red">' + result[i] + '</code><br>')
                }
            }
        }

        function deleteModuleResult(id) {
            $.confirm({
                title: 'Tips',
                content: '确定要删除这条记录么？',
                type: 'red',
                buttons: {
                    Ok: function () {
                        $.ajax({
                            url: '/api/run_log/' + id,
                            method: 'DELETE',
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                            },
                            success: function () {
                                let str = 'moduleLog-' + id;
                                document.getElementById(str).innerHTML = '';
                                $.alert({
                                    title: 'Tips',
                                    type: 'green',
                                    content: '删除成功！'
                                });
                            },
                            error: function (data) {
                                $.alert({
                                    title: 'Tips',
                                    type: 'red',
                                    content: '删除失败！' + data.responseText,
                                })
                            }
                        })
                    },
                    Cancel: function () {
                        $.alert('canceled');
                    }
                }
            })
        }

        function searchModuleLog() {
            let startTime = $('#moduleLogStartTime').val();
            let endTime = $('#moduleLogEndTime').val();
            if (startTime.length === 0 || endTime.length === 0) {
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '请选择起始时间！'
                });
                return false;
            }
            $.ajax({
                dataType: "JSON",
                url: '{% url 'run_log' %}',
                type: "POST",  //提交类似
                data: {
                    "startTime": startTime,
                    "endTime": endTime,
                    "logType": "module",
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                },
                success: function (response) {
                    if (response.length === 0) {
                        $.alert({
                            title: 'Tips',
                            type: 'red',
                            content: '该时间段内没有执行任何模块！'
                        });
                    } else {
                        let obj = $('#moduleLog tbody');
                        obj.html('');
                        for (let i = 0; i < response.length; i++) {
                            let result = response[i];
                            let ans_datetime = $.format.date(result.fields['ans_datetime'], "yyyy-MM-dd HH:mm:ss");
                            obj.append(
                                '<tr id="moduleLog-' + result.pk + '">' +
                                '<td>' + result.pk + '</td>' +
                                '<td>' + result.fields['ans_user'] + '</td>' +
                                '<td>' + result.fields['ans_remote_ip'] + '</td>' +
                                '<td>' + result.fields['ans_module'] + '</td>' +
                                '<td>' + result.fields['ans_args'] + '</td>' +
                                '<td>' + result.fields['ans_server'] + '</td>' +
                                '<td>' + ans_datetime + '</td>' +
                                '<td>' + '<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default" onclick="getModuleResult(' + result.fields['ans_result'] + ')"><abbr title="查看详细信息"><i class="glyphicon glyphicon-info-sign"></i></abbr> </button>' +
                                '<button type="button" class="btn btn-default" onclick="deleteModuleResult(' + result.pk + ')"><i class="glyphicon glyphicon-trash"></i></button>' + '</td>' +
                                '</tr>'
                            )
                        }
                    }
                },
                error: function (response) {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: response.responseText
                    });
                }
            })
        }
    </script>

{% endblock %}

