{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/iCheck/all.css' %}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'AdminLTE/bower_components/select2/dist/css/select2.min.css' %}">

    <style>
        /* dataTables列内容居中 */
        #example1 > tbody > tr > td {
            text-align: center;
        }

        /* dataTables表头居中 */
        #example1 > thead:first-child > tr:first-child > th {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="{% static 'jquery-confirm/dist/jquery-confirm.min.css' %}">
{% endblock %}

{% block content-header %}
    <h1>组列表</h1>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-7 pull-left" style="margin-bottom: 3px">
            <button class="btn btn-sm btn-success pull-left" data-toggle="modal" data-target="#myAddGroupModal">
                <i class="fa fa-user-plus"></i>
                <span class="bigger-110">新增用户组</span>
            </button>
            <button class="btn btn-sm btn-danger pull-left" id="deleteChecked" style="margin-left: 2px">
                <i class="fa fa-user-times"></i>
                <span class="bigger-110">批量删除</span>
            </button>
        </div>

        <!-- addGroupModal  -->
        <div class="modal fade" id="myAddGroupModal" tabindex="-1" role="dialog" aria-labelledby="myAddGroupModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myAddGroupModalLabel">
                            新增用户组
                        </h4>
                    </div>
                    {% if perms.auth.add_group %}
                        <div class="modal-body">
                            <form id="register" class="main form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">用户组名称</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="groupname" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">添加用户</label>
                                        <div class="col-sm-6">

                                            <select class="form-control select2" multiple="multiple" name="users"
                                                    style="width: 100%;">
                                                {% for user in users %}
                                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">添加权限</label>
                                        <div class="col-sm-6">

                                            <select class="form-control select2" multiple="multiple"
                                                    name="group_permissions"
                                                    style="width: 100%;">
                                                {% for permission in permissions %}
                                                    <option value="{{ permission.id }}">{{ permission.name }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>

                                    <div class="space-24"></div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" onclick="createGroup()">
                                添加
                            </button>
                        </div>
                    {% else %}
                        <div class="modal-body">
                            抱歉！您没有新增用户组的权限！如有疑问，请联系管理员！
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                        </div>
                    {% endif %}
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!--dataTable-->
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th><label>
                                <input type="checkbox" class="minimal-red" id="checkAll">
                            </label></th>
                            <th>用户组名称</th>
                            <th>组内用户</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for group in groups %}

                            <tr id="group-{{ group.id }}">
                                <td><label>
                                    <input type="checkbox" class="minimal" value="{{ group.id }}">
                                </label></td>
                                <td>{{ group.name }}</td>
                                <td>
                                    {% for user in group.user_set.all %}
                                        {{ user }}&nbsp;
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="/users/group/{{ group.id }}">
                                        <button type="button" class="btn btn-success btn-xs">详细/更新</button>
                                    </a>
                                    <button type="button" class="btn btn-danger btn-xs"
                                            onclick="deleteGroup({{ group.id }})">删除
                                    </button>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->

{% endblock %}


{% block js %}
    <!-- Select2 -->
    <script src="{% static 'AdminLTE/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <!-- iCheck 1.0.1 -->
    <script src="{% static 'AdminLTE/plugins/iCheck/icheck.min.js' %}"></script>

    <script src="{% static 'jquery-confirm/dist/jquery-confirm.min.js' %}"></script>

    <script>
        $(function () {
            $('#example1').DataTable({
                columnDefs: [{
                    'targets': [0, -1],
                    'orderable': false
                }],
                "order": [[1, "asc"]]
            });
        });

        // Initialize Select2 Elements
        $(function () {
            $('.select2').select2()
        });

        // iCheck for checkbox inputs
        $('input[type="checkbox"].minimal, input[type="checkbox"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
        });

        // 实现全选
        $(function () {
            let checkAll = $('#checkAll');
            let checkboxes = $('input[type="checkbox"]');
            checkAll.on('ifChecked ifUnchecked', function (event) {
                if (event.type === 'ifChecked') {
                    checkboxes.iCheck('check');
                } else {
                    checkboxes.iCheck('uncheck');
                }
            });
            checkboxes.on('ifChanged', function () {
                if (checkboxes.filter(':checked').length === checkboxes.length) {
                    checkAll.prop('checked', 'checked');
                } else {
                    checkAll.removeProp('checked');
                }
                checkAll.iCheck('update');
            });
        });

        // 删除用户组
        function deleteGroup(id) {
            {% if perms.auth.delete_group %}
                $.confirm({
                    title: 'Tips',
                    content: '确定要删除这个用户组么？',
                    type: 'red',
                    buttons: {
                        Ok: function () {
                            $.ajax({
                                url: '/api/group/' + id,
                                method: 'DELETE',
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                                },
                                success: function () {
                                    let str = 'group-' + id;
                                    document.getElementById(str).innerHTML = '';
                                },
                                error: function (data) {
                                    $.alert({
                                        title: 'Tips',
                                        type: 'red',
                                        content: '删除失败！' + data.responseText,
                                    })
                                }
                            })
                        },
                        Cancel: function () {
                            // close
                        }
                    }
                });
            {% else %}
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '抱歉！您没有删除用户组的权限！如有疑问，请联系管理员！',
                });
            {% endif %}

        }

        // 批量删除
        $("#deleteChecked").click(function () {
            {% if perms.auth.delete_group %}
                let checkedID = [];
                $('input[type="checkbox"].minimal:checked').each(function () {
                    checkedID.push($(this).val());
                });
                if (checkedID.length === 0) {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: '请选择要删除的用户组！',
                    })
                } else {
                    $.confirm({
                        title: 'Tips',
                        content: '确定要删除这些用户组么？',
                        type: 'red',
                        buttons: {
                            Ok: function () {
                                for (let i = 0; i < checkedID.length; i++) {
                                    $.ajax({
                                        url: '/api/group/' + checkedID[i],
                                        method: 'DELETE',
                                        beforeSend: function (xhr) {
                                            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                                        },
                                        success: function () {
                                            let str = 'group-' + checkedID[i];
                                            document.getElementById(str).innerHTML = '';
                                        },
                                        error: function (data) {
                                            $.alert({
                                                title: 'Tips',
                                                type: 'red',
                                                content: '删除失败！' + data.responseText,
                                            })
                                        }
                                    })
                                }
                            },
                            Cancel: function () {
                                // close
                            }
                        }
                    })
                }
            {% else %}
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '抱歉！您没有删除用户组的权限！如有疑问，请联系管理员！',
                });
            {% endif %}

        });

        // 新增用户组
        function createGroup() {
            let data = $('#register').serialize();
            $.ajax({
                url: '{% url 'create_group' %}',
                method: 'POST',
                data: data,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                },
                success: function (response) {
                    $.confirm({
                        title: 'Tips',
                        type: 'green',
                        content: response['msg'],
                        buttons: {
                            'OK': function () {
                                location.reload();
                            }
                        }
                    });
                },
                error: function (response) {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: response['msg'],
                    });
                }
            })
        }

    </script>

{% endblock %}

