{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'AdminLTE/bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-confirm/dist/jquery-confirm.min.css' %}">
{% endblock %}

{% block content-header %}
    <h1>详细信息</h1>
{% endblock %}

{% block content %}
    <form class="form-horizontal">
        {% csrf_token %}
        <div class="box-body">
            <div class="form-group ">
                <label class="col-sm-2 control-label ">
                    用户组名称
                </label>
                <div class="col-sm-10">
                    <input id="name" class="form-control" type="text"
                           value="{{ group.name }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label ">
                    用户列表
                </label>
                <div class="col-sm-10">
                    <select class="form-control select2" multiple="multiple" id="user_set" style="width: 100%;">
                        {% for user in users %}
                            {% if user in group.user_set.all %}
                                <option value="{{ user.id }}" selected>{{ user }}</option>
                            {% else %}
                                <option value="{{ user.id }}">{{ user }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label ">
                    用户组权限
                </label>
                <div class="col-sm-10">
                    <select class="form-control select2" multiple="multiple" id="permissions"
                            style="width: 100%;">
                        {% for permission in permissions %}
                            {% if permission in group.permissions.all %}
                                <option value="{{ permission.id }}" selected>{{ permission }}</option>
                            {% else %}
                                <option value="{{ permission.id }}">{{ permission }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="history.go(-1)">返回</button>
                <button type="button" class="btn btn-primary pull-right"
                        onclick="updateGroup()">确认修改
                </button>
            </div>
        </div>
        <!-- /.box-body -->
    </form>
{% endblock %}

{% block js %}
    <!-- Select2 -->
    <script src="{% static 'AdminLTE/bower_components/select2/dist/js/select2.full.min.js' %}"></script>

    <script src="{% static 'jquery-confirm/dist/jquery-confirm.min.js' %}"></script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
        });

        (function ($) {
            $.fn.serializeJson = function () {
                let serializeObj = {};
                let array = this.serializeArray();
                $(array).each(function () {
                    if (serializeObj[this.name]) {
                        if ($.isArray(serializeObj[this.name])) {
                            serializeObj[this.name].push(this.value);
                        } else {
                            serializeObj[this.name] = [serializeObj[this.name], this.value];
                        }
                    } else {
                        serializeObj[this.name] = this.value;
                    }
                });
                return serializeObj;
            };
        })(jQuery);

        //更新组信息
        function updateGroup() {
            {% if perms.auth.change_group %}
                let data = {
                    name: $('#name').val(),
                    user_set: $('#user_set').val(),
                    permissions: $('#permissions').val()
                };
                $.ajax({
                    url: "/api/group/{{ group.id }}/",
                    type: "PUT",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                    },
                    success: function (response) {
                        $.confirm({
                            title: 'Tips',
                            type: 'green',
                            content: response.responseText,
                            buttons: {
                                'OK': function () {
                                    window.location.href = '/users/group_list/'
                                }
                            }
                        });
                    },
                    error: function (response) {
                        $.alert({
                            title: 'Tips',
                            type: 'red',
                            content: response.responseText,
                        })
                    }
                });
            {% else %}
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '抱歉！您没有修改用户组的权限！如有疑问，请联系管理员！',
                });
            {% endif %}

        }
    </script>
{% endblock %}